  <ul class="nav nav-pills nav-stacked text-center menu">
    <li role="presentation"><a href="#price">Price</a></li>
    <li role="presentation"><a href="#resolution">Resolution</a></li>
    <li role="presentation"><a href="#size">Size</a></li>
    <li role="presentation"><a href="#brand">Brand</a></li>
  </ul>
