<div class="row">
  <h1 class="text-center">Televisons</h1>
  <div style="padding:50px;">
    <p>So you want to buy a TV? Congradulations!</p>
    <p>Unfortunatly TV's are super complicated with long rediculous names with technology that can make your head spin. We are here to help you walk you through the process.</p>
    <blockquote>
      <p>TV Made Easy</p>
    </blockquote>
    <p>We will tell you which brands are hot and what features are not worth the money</p>
  </div>
</div>

