<%= form_for_filterrific @filterrific do |f| %>
<h2>Tv Type</h2></br>
    <%= f.check_box(:with_test, class: 'filterrific-periodically-observed') %> LED
    </br>
<button class="btn btn-block btn-default" type="button" data-toggle="collapse" data-target="#AExample" aria-expanded="false" aria-controls="AExample">
  Learn about TV Types
</button>
<div class="collapse" id="AExample">
  <div class="well">
    <p>TV types
This isn't as much of a decision as it used to be because almost all TVs now on the market are LCD TVs that use LEDs instead of fluorescent bulbs for backlighting the screen.  Most manufacturers and retailers refer to them as LED TVs. (When we refer to LCD TVs in this buying guide, that includes models using LED backlights.)

Plasma TVs are just about gone from the market, and manufacturers are no longer producing them.

There's a new type of TV available that uses another display technology—OLED, which stands for organic light emitting diode. At this point, there's only one brand (LG) making them, but we expect to see more in the future.
3D TVs and Ultra HD TVs aren't different types of TVs. They are LCD/LED or OLED sets that have these capabilities. Many new models can display 3D images as well as regular HD. Ultra HD TVs, or UHD TVs for short, are LCD/LED sets with have higer-resolution screen that are capable of displaying more detail. OLED displays with UHD resolution are expected to arrive soon.</p>
  </div>
</div>
<% end %>
    <p>TV types
This isn't as much of a decision as it used to be because almost all TVs now on the market are LCD TVs that use LEDs instead of fluorescent bulbs for backlighting the screen.  Most manufacturers and retailers refer to them as LED TVs. (When we refer to LCD TVs in this buying guide, that includes models using LED backlights.)

Plasma TVs are just about gone from the market, and manufacturers are no longer producing them.

There's a new type of TV available that uses another display technology—OLED, which stands for organic light emitting diode. At this point, there's only one brand (LG) making them, but we expect to see more in the future.
3D TVs and Ultra HD TVs aren't different types of TVs. They are LCD/LED or OLED sets that have these capabilities. Many new models can display 3D images as well as regular HD. Ultra HD TVs, or UHD TVs for short, are LCD/LED sets with have higer-resolution screen that are capable of displaying more detail. OLED displays with UHD resolution are expected to arrive soon.</p>
