
  <div class="row">
    <h1 class="text-center">Budget</h1>
    <p style="padding:50px;">Even though the odds are that you'll likely wind up with an LCD TV, there's still a chance you may buy a plasma TV set while you still can. The best sets of both types are capable of excellent picture quality, though there are subtle differences in the nature of the picture.

      One point that needn't concern you is any difference in longevity between the two technologies; both should last a good 10 years or more in normal use. Neither technology is clearly better for all situations, but there are reasons to choose one over the other.

      Note that plasma TVs are becoming scarce now that the three major brands, LG, Panasonic, and Samsung, have stopped plasma TV production.

      Ultra HD TVs—which are almost all LED LCD TVs with higher-resolution screens—are still more expensive than regular HD sets, but prices are falling considerably. There still isn't much native 4K content to watch, but more UHD content is coming in 2015.

      Our advice is to hold off buying a UHD TV unless you absolutely need to replace your current set, you'd like to future-proof your purchase, and you're able to get a good deal on one. The longer you wait the cheaper the TV will be, and there will be more 4K content to watch.
    </p>
  </div>

